    <footer>
      <div class="up-card">
        <div class="first">
          <a class="logo" href="../../../index.html">MeuBlog</a>
          <ul class="social-media">
            <li>
              <a href="#"
                ><img src="assets/icons/instagram-brands.svg" alt="instagram"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="assets/icons/linkedin-brands.svg" alt="LinkedIn"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="assets/icons/envelope-solid.svg" alt="Gmail"
              /></a>
            </li>
          </ul>
        </div>
        <div class="second">
          <h2>Categorias</h2>
          <ul>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
        <div class="second">
          <h2>Sobre mim</h2>
          <ul>
            <li><a href="#">Projetos</a></li>
          </ul>
        </div>
      </div>
      <div class="down-card">
        <p>&copy; 2025 Blog Project. Todos os direitos reservados.</p>
      </div>
    </footer>
