<footer>
  <div class="up-card">
    <div class="first">
      <a class="logo" href="../../../index.html">MeuBlog</a>
      <ul class="social-media">
        @for (media of socialMedia; track media.id) {
        <li>
          <a href="{{ media.url }}"
            ><img
              src="assets/icons/{{ media.nome }}.svg"
              alt="{{ media.nome }}"
          /></a>
        </li>
        }@empty {
        <li>Sem redes sociais</li>
        }
      </ul>
    </div>
    <div class="second">
      <h2>Categorias</h2>
      <ul>
        @for (category of categories; track category.id) {
        <li>
          <a href="{{ category.url }}">{{ category.nome }}</a>
        </li>
        }@empty {
        <li>Sem redes sociais</li>
        }
      </ul>
    </div>
    <div class="second">
      <h2>Sobre mim</h2>
      <ul>
        <li><a href="#">Projetos</a></li>
      </ul>
    </div>
  </div>
  <div class="down-card">
    <p>&copy; 2025 Blog Project. Todos os direitos reservados.</p>
  </div>
</footer>
