<main>
  <app-hero></app-hero>
  <section class="category">
    <div class="up-card">
      <h2>Procure por categoria</h2>
      <a href="#"
        >Ver tudo <img src="assets/icons/arrow-right-solid.svg" alt="seta"
      /></a>
    </div>
    <div class="down-card">
      <app-skill-card></app-skill-card>
    </div>
  </section>
  <section class="content">
    <div class="up-card">
      <h2>Artigos</h2>
      <a href="#"
        >Veja todas os artigos
        <img src="assets/icons/arrow-right-solid.svg" alt="seta"
      /></a>
    </div>
    <div class="down-card">
      <app-article-card></app-article-card>
    </div>
  </section>
</main>
